 
 <% obj.each do |a| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="article-title">
          <%= link_to "#{a.title}", article_path(a), class: 'link'  %>
        </div>
        <div class="article-meta-details">
          <small>
            <%if a.user%>
              By: <%= link_to "#{a.user.username}", user_path(a.user), class: 'link'  %>
            <% end%>
            <%= time_ago_in_words(a.created_at) %> ago, Updated: <%= time_ago_in_words(a.updated_at) %> ago
          </small> 
        </div>
        <div class="article-body">
          <%= truncate(a.description, length: 100) %>
        </div>
        <div class="article-actions">
          <%= link_to 'Edit', edit_article_path(a),class: "btn btn-sm btn-primary btn-confirm" %>
          <%= link_to 'Delete', article_path(a), method: :delete, data: {confirm: 'Really?'}, class: 'btn btn-sm btn-primary btn-delete'  %>
        </div>
      </div>
      <hr>
    </div>
  </div>
<% end %>
